<template>
  <Chart :data="series"  ></chart>
</template>

<script>
import Chart from "./../common/Chart";

export default {
  name: "Balance",

  components: { Chart },

  props: {
    balanceHistory:{
      type: Array,
      requred: true,
    }
  },
  
  computed:{
    series(){
      if(!this.balanceHistory.length)
      return [];
      
      const history =  this.balanceHistory.map(b =>({
        time: b.time,
        value: b.balance
      }));


      return [
        {
          time: history[0].time,
          value:0
        },
        ...history
      ]
    }
  }
};
</script>
