<template>
  <div>
    <el-row :gutter="20">
      <el-col :md="6" :sm="12" :xs="24">
        <PrefitCard label="Net Prefit" :prefit="netPrefit" />
      </el-col>
      <el-col :md="6" :sm="12" :xs="24">
        <PrefitCard label="Percent Prefit" :prefit="percentPrefit" />
      </el-col>
      <el-col :md="6" :sm="12" :xs="24">
        <PrefitCard label="Net Drawdown" :prefit="netDrawdown" />
      </el-col>
      <el-col :md="6" :sm="12" :xs="24">
        <PrefitCard label="Percent Drawdown" :prefit="percentDrawdown" />
      </el-col>
    </el-row>

    <el-table class="orders-table" :data="tableData">
      <el-table-column prop="id" label="Number">
        <template slot-scope="scope">#{{ scope.row.id }}</template>
      </el-table-column>
      <el-table-column prop="signalType" label="Type">
        <template slot-scope="scope">{{ convertType(scope.row.signalType) }}</template>
      </el-table-column>
      <el-table-column prop="time" label="Time">
        <template slot-scope="scope">{{ scope.row.time | format-date }}</template>
      </el-table-column>
      <el-table-column prop="price" label="Price">
        <template slot-scope="scope">{{ scope.row.price | usd-price }}</template>
      </el-table-column>
      <el-table-column prop="marginLevel" label="Level"></el-table-column>
      <el-table-column prop="balance" label="Blance">
         <template slot-scope="scope">{{ scope.row.balance | usd-price }}</template>
      </el-table-column>
      <el-table-column label="Prefit">
        <template slot-scope="scope">
          <PrefitColumn :prefit="scope.row.prefit" />
        </template>
      </el-table-column>
      <el-table-column label="Blance Prefit">
        <template slot-scope="scope">
          <PrefitColumn :prefit="scope.row.balancePrefit" />
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
)
<script>
import PrefitCard from "./../common/PrefitCard.vue";
import PrefitColumn from "./../common/PrefitColumn.vue";
import {
  buildHistory,
  netPrefit,
  percentPrefit,
  netDrawdown,
  percentDrawdown
} from "./../lib/history";

export default {
  name: "History",

  components: { PrefitCard, PrefitColumn },

  props: {
    orders: {
      type: Array,
      requred: true
    }
  },

  computed: {
    tableData() {
      return buildHistory(this.orders).reverse();
    },

    netPrefit() {
      return netPrefit(this.tableData);
    },

    percentPrefit() {
      return percentPrefit(this.tableData);
    },

    netDrawdown() {
      return netDrawdown(this.tableData);
    },

    percentDrawdown() {
      return percentDrawdown(this.tableData);
    }
  },

  methods: {
    convertType(type) {
      switch(type){
        case 1: 
          return "Oppen Long"
        case 2: 
          return "Open Short"
        case 3: 
          return "Close"
      }
    }
  }
};
</script>

<style scoped>
.orders-table {
  margin: 40px 0;
  max-height: 400px;
  overflow-y: scroll;
}
</style>