


<template>
  <el-collapse class="root" accordion>
    <el-collapse-item :key="id" v-for="{ id, title, body, color, time } in items"  :disabled="!body.length">
      <template slot="title">
        <div class="title">
          <div class="title-info">
            <i class="el-icon-warning icon" v-bind:style="{ color: color }"></i>
            <span v-html="title" ></span>
          </div>
          <small class="hidden-xs-only">{{ time | moment-ago }}</small>
        </div>
      </template>
      <div class="body">{{ body }}</div>
    </el-collapse-item>
  </el-collapse>
</template>
)
<script>
export default {
  name: "Logs",

  props: {
    logs: {
      type: Array,
      requred: true
    }
  },

  computed: {
    items() {
      return this.logs.map(it => ({
        id: it.id,
        title: this.title(it.message),
        body: this.body(it.message),
        time: it.time,
        color: this.color(it.level)
      }))
    },
  },
  
  methods: {
    title(message) {
      
      return message.split("\n")[0];
    },

    body(message) {
      return  message.split("\n").slice(1).join('\n');
    },


    color(level) {
      const levels = [
        "#909399",
        "#909399",
        "#67C23A",
        "#E6A23C",
        "#F56C6C",
        "#F56C6C",
      ];

      return levels[level];
    }
  }
};
</script>

<style scoped>
.root {
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  padding: 0 10px;
  margin: 0 -10px;
}

.title {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 1.25em;
  color:#303133
}

.title-info {
  justify-items: center;
}

.body {
  text-align: left;
}
.icon {
  color: #606266;
  margin-right: 10px;
  font-size: 1.5em;
  vertical-align: middle;
}
</style>