<template>
  <el-row>
    <el-col :xs="24" :md="{ span:18, offset: 3 }">
      <el-date-picker
        v-model="range"
        type="daterange"
        start-placeholder="Start date"
        end-placeholder="End date"
        format="yyyy/MM/dd"
        value-format="timestamp"
      />
      <balance :balance-history="balances" />
      <history :orders="rangeOrders" />
      <Logs :logs="logs" />
    </el-col>
  </el-row>
</template>

<script>
import axios from "axios";
import Balance from './Balance.vue';
import History from './History.vue';
import Logs from './Logs.vue';

export default {
  name: "Main",
  components: {Balance, History, Logs },

  data() {
    return {
      range: null,
      orders: [],
      logs: []
    };
  },

  computed:{
    rangeOrders() {
      const rangeCompare = time => Date.parse(time) > this.range[0] && Date.parse(time) < this.range[1];
      return this.orders.filter(t=> !this.range || rangeCompare(t.time));
    },

    balances() {
      return this.rangeOrders.map(o => ({
        time: o.time,
        balance: o.balance,
      }));
    },
  },

  mounted() {
    axios
      .get('/order')
      .then(reponse => (this.orders = reponse.data));
    axios
      .get('/log')
      .then(reponse => (this.logs = reponse.data));
  }
};
</script>

<style scoped>
</style>
