<template>
  <div class="root" ref="chart"></div>
</template>

<script>
import { createChart } from "lightweight-charts";

export default {
  name: "Main",
  props: {
    config: {
      type: Object,
      default: () => {}
    },

    data: {
      type: Array,
      required: true
    },

  },

  watch: {
    data: {
      handler(value) {
        if(this.lineSeries)
          this.chart.removeSeries(this.lineSeries);
          
        this.lineSeries = this.chart.addAreaSeries({
          topColor: "rgba(0, 150, 136, 0.56)",
          bottomColor: "rgba(0, 150, 136, 0.04)",
          lineColor: "rgba(0, 150, 136, 1)",
          lineWidth: 2
        });


        this.lineSeries.setData(value);
        
        this.chart.timeScale().fitContent();
      }
    }
  },

  mounted() {
    const config = {
      height: 250,
      width: this.$refs.chart.clientWidth,
      priceScale: {
        mode: 1,
      },
      timeScale: {
        visible: true
      },
      layout: {
        backgroundColor: "#ffffff",
        textColor: "#333"
      },
      grid: {
        horzLines: {
          color: "#eee"
        },
        vertLines: {
          color: "#ffffff"
        }
      },
      crosshair: {
        vertLine: {
          labelVisible: false
        }
      }
    };

    this.chart = createChart(this.$refs.chart, config);

  }
};
</script>

<style scoped>
.root {
  margin-left: 10px;
}
</style>
