<template>
  <div :class="classes">
    <small>{{ `${prefit.value.toFixed(2)} $` }}</small>
    <span>{{ `${prefit.percent.toFixed(2)} %` }}</span>
  </div>
</template>

<script>
export default {
  name: "PrefitColumn",
  
  props: {
    prefit: {
      type: Object,
      required: true,
    }
  },

  computed:{
    classes() {
      return {
        'root': true,
        'bad': this.prefit.percent < 0,
        'good': this.prefit.percent > 0,
      }
    }
  }
};
</script>

<style scoped>
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bad {
  color: #F56C6C;
}

.good {
  color: #67C23A;
}


</style>
