<template>
  <el-card>
    <div class="root">
      {{ label }}
      <PrefitColumn :prefit="prefit" />
    </div>
  </el-card>
</template>

<script>
import PrefitColumn from "./PrefitColumn.vue";

export default {
  name: "PrefitCard",
  components: { PrefitColumn },
  
  props: {
    prefit: {
      type: Object,
      required: true
    },

    label: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 125%;
}
</style>